* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: lightskyblue;
}

div {
    margin: 10px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color:ghostwhite;
}

#kérdés_szöveg {
    padding: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

#középső {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 15px;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#válasz1, #válasz2, #válasz3 {
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 25px;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

#kép {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
}

.gomb {
    padding: 20px;
    width: 80px;
    border-radius: 15px;
    background-color: lightskyblue;
    font-weight: bold;
}

.előre:hover {
    background-color: greenyellow;
}

.vissza:hover {
    background-color: rebeccapurple;
    color: ghostwhite;
}

.kerdes {
}

.kattintható:hover {
    background-color: lightskyblue;
}

.jó:hover {
    background-color: greenyellow;
}

.rossz:hover {
    background-color: crimson;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1500px;
    }

    #középső {
        display: flex;
    }

    #válaszok, kérdés_szöveg{
        order: -1
    }

    #kép{
       
    }
}